@media (max-width: 1700px) {
	.cas-menu .ct span.note{
		bottom: 100%;
	}
	#fp-nav.right{
		right: 5px;
	}
	.head-primary{
		font-size: 60px;
		margin-bottom: 15px;
		&.v2{
			font-size: 66px;
		}
		p{
			font-size: 22px;
		}
		span{
			font-size: 24px;
			margin-top: -20px;
		}
	}
	.header-home {
		.lang{
			right: 3%;
			top: 4%;
		}
		.social{
			left: 3%;
			top: 4%;
			li a{
				margin-right: 30px;
			}
		}
	}
	.page-home{
		.content-home{
			padding-bottom: 170px;
		}
		.logo{
			img{
				max-width: 250px;
			}
		}
		.title{
			font-size: 70px;
		}
		.desc{
			font-size: 24px;
		}
		.decor{
			background-size: auto 95%;
			background-position: right 37% bottom;
		}
	}
	.content-why .wrap-ct {
		padding: 20px 0 30px 0;
		.ct {
			padding: 40px 50px 5px 50px;
			strong{
				font-size: 40px;
			}
			p, span, a{
				margin-bottom: 12px;
				font-size: 16px;
			}
		}
	}
	.cas-dictionary{
		max-width: 90%;
		margin: 0 auto;
		.item .ct {
			.title{
				font-size: 65px;
				line-height: 65px;
			}
			.desc{
				font-size: 16px;
			}
		}
	}
	.content-menu {
		.nav-tabs{
			padding: 20px 0;
		}
		.nav-item{
			padding: 0 20px;
		}
		.nav-link{
			font-size: 32px;
		}
	}
	.cas-menu{
		margin-top: 60px;
		.ct {
			margin-top: 10px;
			.title{
				font-size: 25px;
			}
			.desc{
				font-size: 16px;
				@include set-lineMax(3,24px);
			}
		}
		.sl-arrow{
			top: calc(50% - 85px);
		}
	}
	.sl-arrow{
		width: 52px;
		height: 52px;
		&.prev{
			left: -26px;
		}
		&.next{
			right: -26px;
		}
	}
	.cas-gallery {
		.sl-arrow{
			top: calc(50% - 26px);
		}
		.item {
			.title{
				font-size: 22px;
			}
		}
	}
	.ld-contact{
		.pdt{
			padding-top: 5%;
		}
	}
	.form-contact{
		padding: 30px 40px;
		max-width: 680px;
		.form-control{
			height: 42px;
		}
		.title{
			font-size: 45px;
		}
		.form-group{
			margin-bottom: 12px;
		}
		.btn-contact{
			padding: 10px 80px;
			font-size: 20px;
		}
	}
	footer{
		margin-top: 25px;
	}
	.content-ft {
		.logo-ft{
			flex: 0 0 210px;
			margin-right: 25px;
			padding-right: 35px;
		}
		.info-ft {
			.name{
				font-size: 24px;
			}
			ul li{
				font-size: 16px;
				margin-bottom: 6px;
				&:nth-child(2n){
					padding-left: 30px;
				}
			}
			.link-map a{
				font-size: 16px;
			}
		}

	}
	
}
@media (min-width: 1400px) and (max-width: 1699px) {
	.head-primary{
		top: 14px;
	}
	.content-menu .nav-tabs{
		padding-top: 30px;
	}
}
@media (max-width: 1024px) {
	.cas-menu .ct span.note{
		bottom: calc(100% + 25px);
	}
	.header-home{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px;
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 0;
			left: 0;
			top: 0;
			background-color: rgba(#000,0.7);
			transition: 0.5s;
		}
		.social{
			position: relative;
			left: inherit;
			top: inherit;
		}
		.lang{
			position: relative;
			right: inherit;
			top: inherit;
		}
		&.scroll{
			&:before{
				height: 100%;
			}
			
		}
	}
	.head-primary{
		position: relative;
		&.v3{
			position: absolute;
			top: 30px;
		}
	}
	.page-home{
		.decor{
			display: none;
		}
		.content-home{
			padding-bottom: 30px;
			padding-top: 0;
		}
		.title{
			font-size: 60px;
		}
		.desc{
			font-size: 18px;
		}
	}
	.page-pri{
		padding: 70px 0!important;
	}
	.ld-gallery{
		.page-pri{
			padding-top: 140px!important;
		}
	}
	.content-why .wrap-ct{
		width: 100%;
		.ct{
			width: 82%;
		}
	}
	.content-ft .info-ft ul li{
		font-size: 14px;
	}
}
@media (max-width: 991px) {
	.content-menu .nav-item{
		margin-bottom: 15px;
	}
	.cas-dictionary .item {
		.ct {
			.title{
				font-size: 45px;
				line-height: 45px;
				margin-right: 15px;
			}
			.desc{
				font-size: 14px;
				@include set-lineMax(10,24px);
			}
		}
	}
}
@media (max-width: 767px) {
	.ld-home .page-pri{
		padding-top: 60px !important;
	}
	.page-home{
		.logo img{
			max-width: 200px;
		}
		.title{
			font-size: 45px;
			margin: 10px 0;
			line-height: 50px;
		}
		.desc{
			font-size: 14px;
		}
	}
	.page-pri{
		padding: 30px 0 50px 0 !important;
	}
	.cas-gallery .item .title{
		font-size: 16px;
	}
	.content-why .wrap-ct{
		padding: 0;
		margin-top: 20px;
		.ct{
			width: 90%;
			padding: 40px 15px 5px 15px;
			background-size: cover;
			p{
				font-size: 14px;
			}
			strong{
				font-size: 35px;
				margin-top: 10px;
				line-height: 40px;
			}
		}
	}
	.head-primary {
		font-size: 45px !important;
		p{
			font-size: 14px;
		}
		span{
			font-size: 20px;
			margin-top: -10px;
		}
	}
	.form-contact{
		background-size: cover;
		.title{
			font-size: 35px;
			line-height: 40px;
			margin: 10px 0;
		}
	}
	.content-ft .logo-ft{
		display: none;
		
	}
	.content-menu .nav-tabs{
		display: block;
		white-space: nowrap;
		overflow-x: auto;
		.nav-item{
			display: inline-block;
			padding: 0 10px;
		}
	}
	.content-why .wrap-ct{
		background-size: contain;
	}
	.cas-menu{
		max-width: 90%;
		margin: 0 auto;
	}
}
@media (max-width: 575px) {
	.content-ft .info-ft ul li{
		width: 100%;
		padding-left: 0 !important;
		text-align: center;
		
	}
	.content-ft .info-ft .name{
		font-size: 22px;
	}
	.header-home .social li a{
		font-size: 18px;
		margin-right: 20px;
	}
}